#summaryMessageCountLabel {
    -fx-text-fill: white;
    -fx-text-alignment: left;
}

#summaryMessageOwingsLabel {
    -fx-text-fill: white;
    -fx-text-alignment: left;
}

#summaryMessageUpcomingExamCountLabel {
    -fx-text-fill: white;
    -fx-text-alignment: left;
}

#summaryMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
